Django>=4.2
djangorestframework
django-cors-headers
numpy
opencv-python
requests
pytz
ultralytics
torch
torchvision
insightface
onnxruntime
torchreid
Pillow
scipy
scikit-learn
scikit-image
matplotlib
easydict
albumentations
